.containerTitle {
    display: flex;
    justify-content: space-between;
    background-color: cornsilk;
    margin-right: 4px;
}

.containerNavBar {
    display: flex;
    justify-content: space-between;
    background-color: cornsilk;
    margin-right: 4px;

}

header {
    display: flex;
    justify-content: space-between;
    background-color: cornsilk;
    margin-right: 4px;
    border-bottom: solid;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: stretch;
    }


    .containerNavBar {
        display: flex;
        justify-content: end;
    }


    .title {
        flex-direction: column;
        align-items: flex-start;
    }
}

#nameInput,
#lastNameInput,
#DNI_Input,
#adressInputm,
#addressInput,
#salaryInput {
    width: 300px;
}

form {
    padding: 20px;
    background-color: rgb(180, 160, 117);
}

.cardInfo {
    background-color: rgb(114, 107, 95);
    padding: 50px;

}

.card {}

/* body {
    padding: 20px;
    background-color: rgb(223, 190, 139);
} */