.containerTitle {
    display: flex;
    justify-content: space-between;
    background-color: cornsilk;
    margin-right: 4px;
}

.containerNavBar {
    display: flex;
    justify-content: space-between;
    background-color: cornsilk;
    margin-right: 4px;

}

header {
    display: flex;
    justify-content: space-between;
    background-color: cornsilk;
    margin-right: 4px;
    border-bottom: solid;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: stretch;
    }


    .containerNavBar {
        display: flex;
        justify-content: end;
    }


    .title {
        flex-direction: column;
        align-items: flex-start;
    }
}

#nameInput,
#lastNameInput,
#DNI_Input,
#addressInput,
#salaryHsInput,
#hoursPerWeekInput {
    width: 450px;
}

form {
    padding: 30px;
    background-color: rgba(123, 120, 113, 0.804);

}

.cardInfo {
    padding: 30px;
    background-color: rgb(65, 70, 113);
}